In [1]:
# lambda
def fun():
    print("hello I am in function")

In [2]:
fun()

hello I am in function

In [3]:
s = lambda x,y:x+y
s(2,1)

3

In [8]:
#filter function
x = [90,89,56,44,33,21,887,34,22,34,21,11,9,34]
f = list(filter(lambda a:a>50,x))
f

[90, 89, 56, 887]

In [9]:
f

[90, 89, 56, 887]

In [12]:
square = tuple(map(lambda a:a**2,f))
square

(8100, 7921, 3136, 786769)

In [13]:
square

(8100, 7921, 3136, 786769)

In [14]:
square[0]=100

TypeError: 'tuple' object does not support item assignment

In [25]:
# Write a Python program to create a function
#  that takes one argument, 
# and that argument will be multiplied with an unknown given number. 
# Go to the editor
# Sample Output:
# Double the number of 15 = 30
# Triple the number of 15 = 45
# Quadruple the number of 15 = 60
# Quintuple the number 15 = 75
# x = [2,3,4,5]
mul = lambda a:a*15
print(mul(2))
print(mul(3))
print(mul(4))
print(mul(5))

30
45
60
75

In [27]:
#reduce function
from functools import reduce
x = [1,2,3,4]
r = reduce(lambda a,b:a+b,x)
r

10

In [28]:
#wap to find max. no in a list.

# Wap to find min. no in a list.

#wap to filter the marks of stidents who have marks less than 50
# and after filtering you need to find the square of the output data and then
# try to get the sum of all the squared data.
k=[1,2,3,4,5,6,7,8,9,10]
r=reduce(max,k)
r

10

In [30]:
a = [90,78,56,23,99,67,12]
max_no = reduce(lambda x,y:x if x>y else y,a)
max_no

99

In [31]:
a = [90,78,56,23,99,67,12]
min_no = reduce(lambda x,y:x if x<y else y,a)
min_no

12

In [40]:
# marks = [10,56,90,89,45,23,34,12,34,45]
# print(list(filter(lambda h:h<50,marks)))




x = [90,89,56,44,33,21,887,34,22,34,21,11,9,34]
f = list(filter(lambda a:a>50,x))
f

TypeError: 'filter' object is not callable