In [16]:
#dict
#set
# Dict\
x = {
    'name':'xyz',
    'age':23,
    'marks':54
}

In [5]:
x

{'name': 'xyz', 'age': 23, 'marks': 54}

In [6]:
type(x)

dict

In [17]:
# make a dict of employee which having 3 properties 
# name,dept,& salary.

employee = {
    'name':'ABC',
    'dept':'electronics',
    'salary':20
}

In [18]:
employee

{'name': 'ABC', 'dept': 'electronics', 'salary': 20}

In [19]:
#slicing
employee[0]

KeyError: 0

In [21]:
employee['name']

'ABC'

In [22]:
# mutable or immutable 
employee

{'name': 'ABC', 'dept': 'electronics', 'salary': 20}

In [24]:
employee['name']='XYZ'

In [25]:
employee

{'name': 'XYZ', 'dept': 'electronics', 'salary': 20}

In [26]:
employee['dept']='accounts'

In [27]:
employee

{'name': 'XYZ', 'dept': 'accounts', 'salary': 20}

In [32]:
#1.order/unorder---->unordered/indexed
#2. mutable/immutable----->mutable
#3. duplicacy or not----->

x = {
    'name':123,
    'sub':'History',
    'age':32,
    'age':34,
    'age':22
}

In [33]:
x

{'name': 123, 'sub': 'History', 'age': 22}

In [34]:
# Create a empty dict
# Create a single element dict.
x = {
    
}

In [35]:
x

{}

In [36]:
type(x)

dict

In [41]:
x = {
    'abc':'xyz'
}

In [42]:
x

{'abc': 'xyz'}

In [43]:
# wap and make a dict of 5 students with their name,sub,and marks.
a = {
    'name':['a','b','c','d','e'],
    'sub':'english',
    'marks':[2,5,8,5,1]
}

In [44]:
a

{'name': ['a', 'b', 'c', 'd', 'e'], 'sub': 'english', 'marks': [2, 5, 8, 5, 1]}

In [47]:
#wap to find the marks of student 'a' 
# hint----> using slicing
a['marks'][0]

2

In [57]:
# x = {
#     'name':'ankit',
#     1:22,
#     'addr':'New Delhi'
# }


# x = {
#     'name':'ankit',
#     '1':22,
#     'addr':'New Delhi'
# }


# x = {
#     'name':'ankit',
#     0:22,
#     'addr':'New Delhi'
# }



x = {
    'name':'ankit',
    '0':22,
    'addr':'New Delhi'
}

In [58]:
x

{'name': 'ankit', '0': 22, 'addr': 'New Delhi'}